*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    background: #003366;
}

.menu ul{
    list-style: none;
    text-align: center;
}

.menu li{
    display: inline-block;
    margin-right: 100px;
}

.menu ul li a{
    text-decoration: none;
    padding: 20px;
    color: white;
    display: inline-block;
    transition: background-color .15 ease;
}

.menu ul li a:hover{
    color: white;
    border-bottom: 3px solid gray;
    text-decoration: underline;
}

.sec1{
    width: 100%;
    height: 500px;
    background-image: url(../img/c1.jpg);
}
.text1{
    text-align: center;
    padding-top: 50px;
    color: #003366;
}
.text1 p{
    color: #272727;
}